.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.articleImage {
  width: 100%;
}

.articleTitle {
  width: 90%;
  font-size: x-large;
  margin: 10 auto;
}