.articles {
  text-align: center;
  width: auto;
  font-family: 'Verdana';
}

.title {
  font-family: 'Verdana';
  font-style: normal;
  font-size: xxx-large;
}

.allArticles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  width: 60%;
  margin: 0 auto;
}